@use '@/styles/variables' as *;

.relatedSection {
  max-width: $measure;
  margin-top: 4rem;
}

.sectionTitle {
  font-size: 1.4em;
  margin-bottom: 0.5rem;
}

.list {
  border-bottom: 1px solid var(--border-subtle);

  :global(.wcag-high-contrast) & {
    border-bottom-color: var(--foreground);
  }
}
