/* Zmienne globalne preprocesora SASS */

/* Kolory z palety */
$color-primary: #247151;
$color-secondary: #367c2b;
$color-tertiary: #5d8a66;
$color-neutral: #171717;

$color-bg: #ffffff;
$color-text: $color-neutral;
$accent-color: $color-primary;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$max-width-content: 1200px;
$navbar-height: 70px;
